<div class='header'>
    <h1>Exchange Details</h1>
    <h2 class='text-muted'>{{displayName}}</h2>
</div>
<div class="container">
    <div *ngIf="pairs?.length" class="pairs">
        <div class="new-exchange-div">
            <app-copy-current-url-button *ngIf="shared" fromComponent="this" text="Share Exchange"></app-copy-current-url-button>
        </div>
    
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Giver</th>
                    <th scope="col">Reciever</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pair of pairs">
                    <td>{{pair[0]}}</td>
                    <td>{{pair[1]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

