<form class="text-center" [formGroup]="form">
    <div class="form-group">
        <input
        *ngIf="user"
        #displayName
        type="text"
        class="form-control"
        formControlName="displayName"
        placeholder="Exchange Name (Required)"
    />
    </div>
    <div class="input-group">
        <input
            #name
            type="text"
            class="form-control"
            (keyup.enter)="addName(name)"
            placeholder="Participant Name"
            formArrayName="names"
            >
        <div class="input-group-append">
            <button (click)="addName(name)" type="button" class="btn btn-outline-secondary">+</button>
            <button [disabled]="!form.valid" type="button" class="btn btn-outline-secondary" (click)="processForm($event)">Get Pairings</button>
        </div>
    </div>
    
    <ul class="list-group">
        <li
            *ngFor="let name of names.controls"
            class="list-group-item"
        >
        {{ name.value }}
        <span class='float-right removeName' (click)="removeName(name)">&#10006;</span>
    </li>
    </ul>
</form>