<section class="new-exchange">
    <h1>New Gift Exchange</h1>
    <p>
        To create a new gift exchange, enter the particpants below and click "Get Pairings".
    </p>
    <p *ngIf="!user">Log in to save your exchanges and view your existing exchanges.</p>
    <p>
        Note: The list must contain an even number of names to make sure everyone is matched up.
    </p>
    <app-new-exchange-form *ngIf="!pairs" (pairsGenerated)="displayPairs($event)" (pairsSaved)="redirectToExchange($event)"></app-new-exchange-form>
    <div class="unsaved-exchange" *ngIf="pairs">
        <div class="container">
            <app-exchange-table [pairs]="pairs"></app-exchange-table>
            <button mat-raised-button color="accent" (click)="clearPairs()">Create New Exchange</button>
        </div>
    </div>
</section>
