<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Gift Exchange</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/new">New Exchange</a>
            </li>
            <div class="nav-item" *ngIf="auth.user$ | async as user">
                <a class="nav-link">My Exchanges</a>
            </div>
            <li class="nav-item">
                <a class="nav-link" routerLink="/existing">Find an Exchange</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2">
            <li class="nav-item" *ngIf="auth.user$ | async as user; else showLogin">
                <span class="nav-link" (click)="auth.signOut()">Logout ({{user.displayName}})</span>
            </li>
            <ng-template #showLogin>
                <span class="nav-link" (click)="auth.googleSignIn()">Login with Google</span>
            </ng-template>
        </ul>
    </div>
</nav>