<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [ngClass]="{'hidden': !(isHandset$ | async)}"
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLink="/exchanges/new">New Exchange</a>
        <a mat-list-item routerLink="/exchanges">My Exchanges</a>
        <a mat-list-item routerLink="/exchanges/search">Find an Exchange</a>

        <span class="authentication" *ngIf="auth.user$ | async as user; else showLoginShelf">
            <a mat-list-item
            (click)="auth.signOut()"
            >
                Log out
            </a>
        </span>
        <ng-template #showLoginShelf>
            <a 
                mat-list-item
                (click)="auth.googleSignIn()"
            >
                Log in with Google
            </a>
        </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <span>Gift Exchange</span>

      <div class="links" [ngClass]="{'hidden': (isHandset$ | async)}">
        <button mat-button routerLink="/exchanges/new">New Exchange</button>
        <button mat-button routerLink="/exchanges" *ngIf="auth.user$ | async as user">My Exchanges</button>
        <button mat-button routerLink="/exchanges/search">Find an Exchange</button>
        
        <span class="authentication" *ngIf="auth.user$ | async as user; else showLogin">
            <button mat-button (click)="auth.signOut()" >Log out ({{user.displayName}})</button>
        </span>
        <ng-template  #showLogin>
            <button mat-button (click)="auth.googleSignIn()">Log in with Google</button>
        </ng-template>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
